{% extends "::base.html.twig" %}
{% block body %}
<h5>{{'Correction du projet ' ~ name.name }}</h5>
{% for a in cor %}
<div class="highlight">
<h5>{{ a.name ~ ':'}}</h5>
<p>{{ a. description }}</p>
</div>
{% endfor %}
<form method="post" {{ form_enctype(form) }}>
 	{{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" />
</form> 

{% endblock %}
